<!doctype html>
<!-- views/singlePost.ejs -->
<html lang="en">
<head>
    <% var i=0 %>
    <title> <%= "Natural Building Social — "+feed[i].title %> </title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
<%- include('partials/nav.ejs', {user: user}) %>
<div class="container">
    <h1>Natural Building Social</h1>
    
    <div class="postCont">
        <%- include('partials/postPartial.ejs', {feed: feed, i: i, limit:20}); %>
    </main>

</div>
</body>
</html>